html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: #fff;
    background-image: url('../images/bg02.png');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#particles-js{
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}
a,
a:hover,
a:focus {
    color: #333;
    text-decoration: none;
}

li:hover a {
    color: #767676;
}

.main {
    margin-top: 10%;
    position: relative;
    z-index: 2;
}

.main .logo-title {
    height: 145px;
    line-height: 145px;
    margin-top: 150px;
    color: #fff;
    font-size: 25px;
    background-image: url('../images/lgbg.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.main .logo-title .col-md-3 {
    background-image: url('../images/logo.png');
    background-size: 50%;
}

.main .logo-title .col-md-1 {
    background-image: url('../images/lig.png');
    background-size: 44%;
}

.main .logo-title .col-md-3,
.main .logo-title .col-md-1 {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.main .col-md-2{
    z-index: 2;
}
.main .col-md-2 ul {
    list-style: none;
    padding: 0;
    font-size: 26px;
    margin-bottom: 65px;
}
.main .buy{
    width: 101px;
    border-bottom: 1px solid #000;
    border-top: 1px solid #fff;
    padding: 7px;
    margin-top: 15px;
    font-size: 20px;
}
.main .buy:hover{
    border: 1px solid #ccc;
    border-radius: 5px;
}
.main .buy a{
    color: #000;
    text-decoration: none;
}
.main .col-md-2 ul li {
    display: block;
    width: 102px;
    height: 102px;
    padding: 14px 37px;
    margin-top: 30px;
    position: relative;
    cursor: pointer;
    border: 1px solid #fff;
}

.active {
    color: #767676;
    border: 1px solid #000!important;
    border-radius: 50%;
}

.main .col-md-2 ul li:hover {
    color: #767676;
    border: 1px solid #767676!important;
    border-radius: 50%;
}

.main .col-md-2 ul li::before {
    content: '';
    height: 50px;
    position: absolute;
    border-right: 1px solid #000;
    right: 50%;
    top: -40px;
    margin: 0 auto;
}

.main .col-md-2 ul li::after {
    content: '';
    height: 50px;
    position: absolute;
    border-right: 1px solid #000;
    right: 50%;
    bottom: -40px;
    margin: 0 auto;
}

.main .login {
    overflow: hidden;
}

.main .login a {
    display: block;
    float: left;
    font-size: 20px;
    padding: 0 7px 7px 7px;
    border-bottom: 1px solid #000;
    color: #000;
    text-decoration: none;
}

.main .login .l {
    border-right: 1px solid #000;
}

.bottom {
    width: 100%;
    position: absolute;
    bottom: 35px;
}

.bottom .col-md-7 {
    margin-top: 35px;
    border-bottom: 1px solid #000;
}

.bottom .col-md-4 h3 {
    padding-left: 20px;
}

.bottom .col-md-4 h3 i {
    font-size: 30px;
    color: #21cfff;
}

.bgw {
    background-color: rgba(255, 255, 255, .6);
}

.row.bgw {
    padding: 10px 0 40px;
}

.join-us {
    text-align: left;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 9px;
}

.case-item {
    width: 80%;
    border-bottom: 1px solid #333;
    padding: 5px 0;
}

.case-item.left .case-item-text,
.case-item.left img {
    float: left;
}

.case-item.right .case-item-text,
.case-item.right img {
    float: right;
}

.case-item-text {
    height: 100px;
    font-size: 16px;
    line-height: 1.5em;
    margin: 20px 10px;
    text-indent: 2em;
    text-align: left;
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.case-item img {
    background-color: #fff;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 1px solid #333;
}

.case-item.left {
    float: left;
    text-align: left;
}

.case-item.right {
    float: right;
    text-align: right;
}