html,
body {
    height: 100%;
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

.continer {
    background: linear-gradient(to bottom, #639cd2, #fff);
    padding: 20px 0;
}

h1 {
    margin: 60px 0;
    font-size: 30px;
    color: #fff;
    line-height: 40px;
    text-align: center;
}

.varsion-list {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

.version-list-item {
    background-color: #fff;
    border-radius: 20px;
    float: left;
    width: 250px;
    height: 520px;
    position: relative;
}

.version-list-item+li {
    margin-left: 100px;
}

.version-btn {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
}

.version-btn a {
    display: block;
    width: 120px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    text-align: center;
    background-color: #639cd2;
    border-radius: 15px;
    font-size: 20px;
    color: #fff;
}

.go-home {
    text-align: center;
    line-height: 40px;
    margin: 100px 0 60px;
}

.go-home a {
    font-size: 26px;
    display: inline-block;
    background: url(../images/ico03.png) left center no-repeat;
    padding-left: 56px;
    background-size: 40px;
    color: #7a7a7a;
}

.version-detail {
    padding: 20px 10px;
}

.version-detail p {
    text-align: center;
    color: #666;
    font-size: 20px;
    line-height: 1.5em;
    margin: 20px 0;
}

.price-number {
    display: block;
    color: rgb(255, 104, 0);
}